.AdditionalUserSection, .FooterMenuAngleS, .FooterMenuAngleM, .FooterMenuAngleL, .FooterMenuSide {
	position: absolute;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(200, 0, 0, .8);
}

.AdditionalUserSection {
	right: 8px;
	top: -6px;
	width: 110px;
	height: 70px;
	transition-duration: .2s;
	z-index: 1;
}

.AdditionalUserSectionClosed {
	transform: translateX(110px);
}

.FooterMenuAngleM {
	width: 10px;
	height: 10px;
	transform: rotateZ(45deg);
}

.FooterMenuAngle1 {
	right: -6px;
	top: 2px;
}

.FooterMenuAngle2 {
	right: -6px;
	bottom: 2px;
}

.FooterMenuAngle3 {
	left: 0px;
	bottom: -3px;
}

.FooterMenuAngle4 {
	left: -45px;
	bottom: -3px;
}

.FooterMenuAngle5 {
	left: -45px;
	bottom: 8px;
}

.FooterMenuAngle6 {
	width: 23px;
	height: 33px;
	left: -17px;
	top: 29px;
	transform: rotateZ(45deg);
}

.FooterMenuAngle7 {
	width: 4px;
	height: 4px;
	left: -1.5px;
	top: 1px;
	transform: rotateZ(45deg);
}

.FooterMenuSide1 {
	right: -8px;
	top: 8px;
	width: 20px;
	height: 55px;
	box-shadow: none;
	z-index: 1;
}

.FooterMenuSide2 {
	left: -39.5px;
	bottom: -5.5px;
	width: 45px;
	height: 26px;
}

.FooterMenuSide3 {
	left: -47px;
	bottom: 1px;
	width: 12px;
	height: 12px;
}

.FooterMenuSide4 {
	left: -2px;
	top: 5px;
	width: 12px;
	height: 24px;
}

.FooterMenuCover {
	position: absolute;
	background-color: #909DA3;
}

.FooterMenuCover1 {
	top: 0px;
	right: 0px;
	width: 20px;
	height: 100%;
}

.FooterMenuCover2 {
	left: -40px;
	bottom: -5.5px;
	width: 45px;
	height: 26px;
}

.FooterMenuCover3 {
	left: -46.5px;
	bottom: 1.5px;
	width: 10px;
	height: 12px;
}

.FooterMenuCover4 {
	left: -2px;
	top: 3.5px;
	width: 8px;
	height: 27px;
}

.FooterMenuCover5 {
	left: 1px;
	top: 0px;
	width: 19px;
	height: 100%;
}




/*/////////////////////////////////////////////////////////////*/


.UserButtonsContainer {
	position: absolute;
	width: 66px;
	height: 100%;
	padding: 2px 0;
	margin-left: 11px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	grid-column-gap: 6px;
	justify-items: center;
	align-items: center;
	z-index: 0;
	background-color: #909DA3;
}

.UserButtons {
	width: 100%;
	height: 16px;
	padding: 3px 1px 2px 2px;
	font-size: .6em;
	text-shadow: 0 0 2px rgba(0, 0, 0, .6);
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .5);
	background-color: rgba(0, 0, 0, .05);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 14px;
	border-width: 0;
	border-radius: 2px;
	user-select: none;
}

.UserButtons:focus, .HelpButton:focus {
	outline: none;
}

.UserButtons:active, .HelpButton:active {
	margin-top: 0px;
	transform: translateY(1px);
	box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}

.SearchButton {
	padding: 2px 0;
	background-image: url("../../img/search.svg");
}

.ProfileButton {
	background-image: url("../../img/profile.svg");
}

.FavoritesButton {
	background-image: url("../../img/favorites.svg");
}

.FriendsButton {
	
	background-image: url("../../img/friends2.svg");
}

.MessagesButton {
	background-image: url("../../img/mail.svg");
}

.LogOutButton {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}

.HelpButton {
	position: absolute;
	right: 1px;
	top: 18px;
	width: 17px;
	height: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	font-size: .6em;
	text-shadow: 0 0 2px rgba(0, 0, 0, .6);
	background-color: rgba(0, 0, 0, .05);
	background-image: url("../../img/info.svg");
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: center;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .5);
	border-width: 0;
	border-radius: 2px;
	user-select: none;
}


/*//////////////////////////////////////////////////////////////*/


.MessagesIndicatorOuterContainer {
	position: absolute;
	left: -42px;
	bottom: -2px;
	width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 50%;
}

.MessagesIndicatorInnerContainer {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 3px 0px rgba(255, 255, 255, 1);
}

.MessagesIndicatorIcon {
	width: 10px;
	height: 8px;
	background-image: url("../../img/message.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 3px 0px rgba(255, 255, 255, .2);
	opacity: .5;
}

.FriendsIndicatorOuterContainer {
	position: absolute;
	left: -15px;
	bottom: -2px;
	width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 50%;
}

.FriendsIndicatorInnerContainer {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 3px 0px rgba(255, 255, 255, 1);
}

.FriendsIndicatorIcon {
	width: 10px;
	height: 10px;
	background-image: url("../../img/friends.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 3px 0px rgba(255, 255, 255, .2);
	opacity: .5;
}


/*//////////////////////////////////////////////////////////////*/


.Bolt2 {
	right: 3px;
	top: 2px;
}

.Bolt3 {
	right: 3px;
	bottom: 3px;
}

.Bolt4 {
	left: -14px;
	bottom: 21px;
}