.closeSection {
	position: absolute;
	top: -3px;
	right: -4px;
	width: 33px;
	height: 33px;
	z-index: 1;
}

.sectionCloseAngle, .sectionCloseSide {
	position: absolute;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
}

.sectionCloseAngle {
	width: 10px;
	height: 10px;
	transform: rotateZ(45deg);
}

.sectionCloseAngleS {
	width: 6px;
	height: 6px;
}

.sectionCloseAngle1 {
	right: -2px;
	top: -2px
}

.sectionCloseAngle2 {
	right: -2px;
	bottom: -2px
}

.sectionCloseAngle3 {
	right: 3px;
	bottom: -22.5px;
}

.sectionCloseAngle4 {
	right: 15px;
	bottom: -22.5px;
}

.sectionCloseAngle5 {
	width: 25px;
	height: 25px;
	left: 4px;
	bottom: 4px;
}

.sectionCloseAngle6 {
	left: -23px;
	top: 13px;
}

.sectionCloseAngle7 {
	left: -23px;
	top: 2.5px;
}

.sectionCloseAngle8 {
	left: -2px;
	top: -2px
}

.sectionCloseSide1 {
	left: 3px;
	top: -4px;
	width: 26px;
	height: 8px;
}

.sectionCloseSide2 {
	right: -4px;
	top: 3.5px;
	width: 12px;
	height: 26px;
}

.sectionCloseSide3 {
	right: 2px;
	bottom: -20px;
	width: 20px;
	height: 32px;
}

.sectionCloseSide4 {
	right: 7.5px;
	bottom: -24px;
	width: 10.5px;
	height: 10px;
}

.sectionCloseSide5 {
	left: -20px;
	top: 1px;
	width: 32px;
	height: 20px;
}

.sectionCloseSide6 {
	left: -24px;
	top: 6px;
	width: 10px;
	height: 10px;
}

.sectionCloseCover {
	position: absolute;
	background-color: #909DA3;
}

.sectionCloseCover1 {
	left: 3px;
	top: -4px;
	width: 26px;
	height: 20px;
}

.sectionCloseCover2 {
	right: -4px;
	top: 3px;
	width: 20px;
	height: 26.5px;
}

.sectionCloseCover3 {
	right: 2px;
	bottom: -19px;
	width: 20px;
	height: 30px;
}

.sectionCloseCover4 {
	right: 6.5px;
	bottom: -24px;
	width: 11px;
	height: 6px;
}

.sectionCloseCover5 {
	left: -20px;
	top: 1px;
	width: 30px;
	height: 20px;
}

.sectionCloseCover6 {
	left: -24px;
	top: 6px;
	width: 6px;
	height: 10px;
}

.sectionCloseButton {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
	border-radius: 50%;
}

.closeSectionBolt1 {
	left: -10px;
	top: 5px;
}

.closeSectionBolt2 {
	right: 5px;
	bottom: -11px;
}