.initialSection {
	height: 100%;
	flex-direction: row;
	justify-content: center;
	overflow-y: hidden;
}

.initialSectionLinksContainer {
	position: relative;
	display: flex;
	align-items: center;
}

.rankingsLinkContainer {
	margin: 0 4%;
}

.forumLinkContainer {
	margin-right: 4%;
}

.verticalStripe {
	position: absolute;
	left: 50%;
	top: -20px;
	bottom: -20px;
	box-shadow: 0 0 2px 1px rgba(220, 0, 0, 1);
	transition-duration: .18s;
}

.verticalStripeFlake {
	position: absolute;
	left: 0;
	top: 100%;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.animateFlake1 {
	animation-duration: 4.8s;
	animation-name: slideDown;
	animation-delay: .8s
}

.animateFlake2 {
	animation-duration: 2.5s;
	animation-name: slideDown;
}

.animateFlake3 {
	animation-duration: 3.4s;
	animation-name: slideDown;
	animation-delay: .3s
}

.animateFlake4 {
	animation-duration: 3.9s;
	animation-name: slideDown;
	animation-delay: .6s
}

.initialSectionLinks {
	width: 70px;
	height: 70px;
	padding: 8px;
	font-size: .8em;
	background-color: #001ADC;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
	transition-duration: .18s;
	transition-timing-function: ease-out;
	z-index: 1;
}

.initialSectionGamesLink {
	margin-bottom: 50px;
	/*transform: translateY(-280px);*/
}

.initialSectionRankingsLink {
	margin-top: 50px;
	transition-delay: .025s;
	/*transform: translateY(297px);*/
}

.initialSectionForumLink {
	margin-bottom: 50px;
	transition-delay: .05s;
	/*transform: translateY(-266px);*/
}

.initialSectionLinksLink {
	margin-top: 50px;
	transition-delay: .075s;
	/*transform: translateY(288px);*/
}

.linkIcons {
	
}

.linkIconGames {
	transform: rotateZ(-45deg) translate(-0px, -3px);
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/


.linkTitleSection {
	position: absolute;
	left: -7px;
	right: -7px;
	top: -13px;
	height: 16px;
	background-color: #909DA3;
	box-shadow: 0 0 3px 2px rgba(220, 0, 0, .8);
}

.linkTitleSectionInverted {
	transform: rotateZ(180deg) translateY(-84px);
}

.linkTitleContainer {
	position: absolute;
	left: 15.5px;
	top: -15px;
	width: 63px;
}

.linkTitleText {
	height: 14px;
	padding: 3px 2px 0px 3px;
	font-size: 1.2em;
	box-shadow: 0 0 4px 0px rgba(220, 220, 220, .8);
}

.rankingLinkTitleText {
	transform: rotateZ(180deg);
}

.linksLinkTitleText {
	transform: rotateZ(180deg);
}

.linkIconRanks, .linkIconForum, .linkIconLinks {
	width: 100%;
}

.initialSectionAngle, .initialSectionSide, .initialSectionCover {
	position: absolute;
	background-color: #909DA3;
}

.initialSectionAngle, .initialSectionSide {
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
}

.initialSectionAngle {
	transform: rotateZ(45deg);
}

.initialSectionAngleS {
	width: 8px;
	height: 8px;
}

.initialSectionAngleL {
	width: 18px;
	height: 18px;
}

.initialSectionAngle1 {
	left: -1px;
	top: -8px;
}

.initialSectionAngle2 {
	right: -1px;
	top: -8px;
}

.initialSectionAngle3 {
	right: -3px;
	bottom: -4px;
}

.initialSectionAngle4 {
	right: 6px;
	bottom: -4px;
}

.initialSectionAngle5 {
	left: 6px;
	bottom: -4px;
}

.initialSectionAngle6 {
	left: -3px;
	bottom: -4px;
}

.initialSectionSide1 {
	left: 8px;
	right: 8px;
	top: -12px;
	height: 12px;
}

.initialSectionSide2 {
	position: absolute;
	right: -4px;
	top: 1px;
	width: 12px;
	height: 10px;
}

.initialSectionSide3 {
	left: -5px;
	right: -5px;
	top: 0;
	height: 10px;
}

.initialSectionSide4 {
	right: 0px;
	bottom: -6px;
	width: 9px;
	height: 10px;
}

.initialSectionSide5 {
	left: 0px;
	bottom: -6px;
	width: 9px;
	height: 10px;
}

.initialSectionCover1 {
	left: 8px;
	right: 8px;
	top: -12px;
	height: 12px;
}

.initialSectionCover2 {
	left: -5px;
	right: -5px;
	top: 1px;
	height: 15px;
}

.initialSectionCover3 {
	right: 1px;
	bottom: -6px;
	width: 9px;
	height: 10px;
}

.initialSectionCover4 {
	left: 1px;
	bottom: -6px;
	width: 9px;
	height: 10px;
}

.initialSectionCover5 {
	right: -3px;
	bottom: -4px;
	width: 9px;
	height: 10px;
	transform: rotateZ(45deg);
}

.initialSectionCover6 {
	left: 5px;
	bottom: -4px;
	width: 9px;
	height: 10px;
	transform: rotateZ(45deg);
}

.initialBolt1 {
	left: -1px;
	bottom: -1px;
}

.initialBolt2 {
	right: -1px;
	bottom: -1px;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/



@keyframes slideDown {
	0% {top: 0;}
	100% {top: 100%;}
}

/*@keyframes slideinBottom {
	0% {transform: translateY(297px);}
	80% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}*/