.searchSectionInternal {
	height: 100%;
}

.searchSectionContent {
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
}

.searchSectionSearchContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 76px 45px auto;
	justify-items: center;
}

.searchSectionSearchLabel {
	display: block;
	width: 50%;
	margin: 2px auto;
}

.searchSectionSearchFieldBoxShadow {
	display: block;
	width: 100%;
	height: 22px;
	padding: 1px;
	margin-top: 5px;
	box-shadow: 0 0 2px 1px #00D2FF;
	border-radius: 2px;
}

.searchSectionSearchField {
	width: 100%;
	height: 100%;
	padding: 3px 3px 2px;
	font-size: .65em;
	border: 1px solid rgba(0, 210, 255, .7);
	border-width: 1px;
	border-radius: 2px;
	background-color: #001ADC;
}

.searchSectionSearchField:focus {
	outline: none;
}

.searchSectionResultsContainer {
	padding: 10px 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-y: auto;
}

.searchResultContainer {
	position: relative;
	width: 110px;
	height: 70px;
	margin: 20px 10px;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
	transform: scale(.9, .9);
}

.searchResultImage {
	position: absolute;
	left: 3px;
	top: -3px;
	width: 103px;
	height: 76px;
	background-color: black;
	background-image: url("../../Preview/sonicwings2.bmp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.searchResultTextContainer {
	position: absolute;
	right: 3px;
	bottom: -4px;
	width: 80%;
	height: 13px;
	padding: 3px 0px 0 1px;
	background-color: #909DA3;
}

.searchResultInnerTextContainer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.searchResultText {
	position: absolute;
	white-space: nowrap;
	font-size: .54em;
	word-spacing: -2px;
	line-height: 11px;
	color: white;
}

.textCover {
	position: absolute;
	background-color: #909DA3;
}

.textCover1 {
	left: -4.5px;
	top: 2px;
	width: 7px;
	height: 4px;
	transform: rotateZ(-45deg);
}

.textCover2 {
	left: -5px;
	bottom: -2px;
	width: 6px;
	height: 10px;
}


/*//////////////////////////////////////////////////////////////////////////*/


.searchResultSide, .searchResultAngle, .searchResultCover {
	position: absolute;
	background-color: #909DA3;
}

.searchResultSide, .searchResultAngle {
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
}

.searchResultSide1 {
	top: -7px;
	left: 6.5px;
	width: 97px;
	height: 84px;
}

.searchResultAngle {
	width: 10px;
	height: 10px;
	transform: rotateZ(45deg);
}

.searchResultAngle1 {
	right: 2px;
	top: -5px;
}

.searchResultAngle2 {
	right: 2px;
	bottom: -5.5px;
}

.searchResultAngle3 {
	left: 1px;
	bottom: -5.5px;
}

.searchResultAngle4 {
	left: 1px;
	top: -5px;
}

.searchResultCover1 {
	top: -7px;
	left: 6px;
	width: 97px;
	height: 84px;
}

.searchResultCover2 {
	top: 0px;
	left: -1px;
	width: 111px;
	height: 70px;
}


/*//////////////////////////////////////////////////////////////////////////*/


.imageCover {
	position: absolute;
	background-color: #909DA3;
	width: 10px;
	height: 4px;
}

.imageCover1, .imageCover3 {
	transform: rotateZ(45deg);
}

.imageCover2, .imageCover4 {
	transform: rotateZ(-45deg);
}

.imageCover1 {
	right: 0;
	top: -4px;
}

.imageCover2 {
	right: 0;
	bottom: -4px;
}

.imageCover3 {
	left: 0;
	bottom: -4px;
}

.imageCover4 {
	left: 0;
	top: -4px;
}