.sendMessageContainer {
	background-color: rgba(0, 0, 0, .7);
	transition-duration: .08s;
}

.sendMessageInternal {
	width: 96%;
	height: 50%;
	transform: scale(1, 1);
	transition-duration: .08s;
}

.sendMessageContentContainer {
	width: 100%;
	height: 100%;
	padding: 14px 10px 10px;
	display: grid;
	grid-template-rows: 46px auto;
	box-shadow: 0 0 2px 1px #00D2FF;
}

.sendMessageToWhoContainer {
	position: relative;
	width: 100%;
	height: 46px;
	padding: 16px 10px 6px;
	text-align: left;
	box-shadow: inset 0 0 2px 1px #00D2FF;
}

.sendMessageToLabelContainer {
	position: absolute;
	font-size: .7em;
	padding: 2px 4px;
	top: -7px;
	left: 10px;
	background-color: #001ADC;
	box-shadow: 0 0 2px 1px #00D2FF;
}

.sendMessageToWho {
	margin-top: 2px;
	font-size: .62em;
}

.sendMessageTextAreaContainer {
	position: relative;
	margin-top: 14px;
	box-shadow: 0 0 2px 1px #00D2FF;
}

.sendMessageTextAreaLabelContainer {
	position: absolute;
	left: 10px;
	top: -7px;
	padding: 2px 3px;
	font-size: .7em;
	background-color: #001ADC;
	box-shadow: 0 0 2px 1px #00D2FF;
	z-index: 1;
}

.sendMessageTextArea {
	width: 100%;
	height: 100%;
	padding: 13px 6px 6px 6px;
	font-size: .55em;
	letter-spacing: 1px;
	background-color: #001ADC;
	border-width: 0;
	box-shadow: inset 0 0 2px 1px #00D2FF;
	animation-name: textArea;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	resize: none;
}

.sendMessageSendButton {
	position: absolute;
	left: 50%;
	bottom: -16px;
	margin-left: -30px;
	width: 60px;
	padding: 4px;
	display: inline-block;
	font-size: .8em;
	background-color: #001ADC;
	box-shadow: 0 0 3px 1px #00D2FF;
}


@keyframes textArea {
	0% { box-shadow: inset 0 0 2px 1px #00D2FF; }
	50% { box-shadow: inset 0 0 4px 2px #00D2FF; }
	100% { box-shadow: inset 0 0 2px 1px #00D2FF; }
}