.HeaderMenu {
	position: absolute;
	top: 10px;
	left: 7px;
	width: 110px;
	height: 70px;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(200, 0, 0, .8);
	transition-duration: .24s;
}

.HeaderMenuAngle, .HeaderMenuSide {
	position: absolute;
	box-shadow: 0 0 4px 3px rgba(200, 0, 0, .8);
}

.HeaderMenuAngle {
	transform: rotateZ(45deg);
	background-color: #909DA3;
}

.HeaderMenuAngleS {
	width: 10px;
	height: 10px;
}

.HeaderMenuAngle1 {
	right: -15.5px;
	bottom: 3.5px;
	width: 23px;
	height: 33px;
	box-shadow: 0 0 3px 1px rgba(200, 0, 0, .8);
}

.HeaderMenuAngle2 {
	right: 4.5px;
	top: -5px;
	width: 6px;
	height: 8px;
	transform: rotateZ(45deg);
}

.HeaderMenuAngle3 {
	right: -39px;
	top: -3.5px;
}

.HeaderMenuAngle4 {
	right: -39px;
	top: 38px;
}

.HeaderMenuAngle5 {
	left: -5px;
	top: 2px;
}

.HeaderMenuAngle6 {
	left: -5px;
	bottom: 2px;
}

.HeaderMenuSide, .HeaderMenuCover, .HeaderMenuToggle {
	background-color: #909DA3;
}

.HeaderMenuSide1 {
	right: -15px;
	top: 0;
	width: 12px;
	height: 40px;
}

.HeaderMenuSide2 {
	right: -34px;
	top: -6px;
	width: 40px;
	height: 10px;
}

.HeaderMenuSide3 {
	top: 2px;
	right: -41px;
	height: 40px;
	width: 20px;
}

.HeaderMenuSide4 {
	top: 5px;
	left: -7px;
	height: 50px;
	width: 10px;
}

.HeaderMenuSide5 {
	width: 13px;
	height: 10px;
	top: 39px;
	right: -34px;
	box-shadow: 0 0 3px 1px rgba(200, 0, 0, .8);
}

.HeaderMenuCover {
	position: absolute;
}

.HeaderMenuCover1 {
	right: 0px;
	bottom: 0px;
	width: 20px;
	height: 28px;
	
}

.HeaderMenuCover2 {
	right: -14.5px;
	bottom: 2px;
	width: 21px;
	height: 34px;
	transform: rotateZ(45deg);
}

.HeaderMenuCover3 {
	right: -15px;
	top: 0;
	width: 30px;
	height: 41px;
}

.HeaderMenuCover4 {
	width: 40px;
	height: 11px;
	right: -34px;
	top: -6px;
}

.HeaderMenuCover5 {
	width: 26px;
	height: 41px;
	right: -41px;
	top: 1px;
}

.HeaderMenuCover6 {
	width: 18px;
	height: 56px;
	left: -7px;
	top: 7px;
}

.HeaderMenuCover7 {
	width: 18px;
	height: 56px;
	left: 0px;
	top: 0px;
}

.HeaderMenuCover8 {
	width: 26px;
	height: 10px;
	top: 39px;
	right: -33px;
}

.HeaderMenuCover9 {
	width: 10px;
	height: 10px;
	right: -18.5px;
	bottom: 17px;
}

.HeaderMenuToggle {
	position: absolute;
	bottom: 1px;
	right: -28px;
	width: 27px;
	height: 18px;
	display: flex;
	align-items: center;
}

.HeaderMenuToggleButton {
	position: absolute;
	right: -5px;
	width: 18px;
	height: 100%;
	background-image: url("../../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 9px 9px;
	transition-duration: .24s;
}

.HeaderMenuToggleButtonClosed {
	transform: rotateZ(180deg) translateX(1px);
}

.HeaderMenuToggleAngle, .HeaderMenuToggleSide, .HeaderMenuToggleCover {
	position: absolute;
	background-color: #909DA3;
}

.HeaderMenuToggleAngle, .HeaderMenuToggleSide, .HeaderMenuToggle {
	box-shadow: 0 0 4px 2px rgba(200, 0, 0, .8);
}

.HeaderMenuToggleAngle1 {
	right: -3px;
	top: 0.5px;
	width: 4px;
	height: 4px;
	transform: rotateZ(45deg);
}

.HeaderMenuToggleAngle2 {
	right: -3px;
	bottom: 1px;
	width: 6px;
	height: 6px;
	transform: rotateZ(45deg);
}

.HeaderMenuToggleSide1 {
	right: -1px;
	top: 0px;
	width: 6px;
	height: 7px;
}

.HeaderMenuToggleSide2 {
	right: -4px;
	top: 3px;
	width: 6px;
	height: 11px;
}

.HeaderMenuToggleCover1 {
	right: 0px;
	top: 0px;
	width: 12px;
	height: 13.5px;
}

.HeaderMenuToggleCover2 {
	right: -3.5px;
	top: 0.5px;
	width: 4.5px;
	height: 4.5px;
	transform: rotateZ(45deg);
}

.HeaderMenuToggleCover3 {
	right: -3px;
	bottom: 1px;
	width: 4.5px;
	height: 4.5px;
	transform: rotateZ(45deg);
}

.HeaderMenuToggleCover4 {
	width: 16px;
	height: 10px;
	bottom: 0;
	right: 0;
}


/*/////////////////////////////////////////////////////////////////////////*/


.HeaderMenuUserSectionContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #909DA3;
}

.UserMenuContent {
	position: absolute;
}

.UserImgContainer {
	right: -35px;
	top: -0px;
	width: 44px;
	height: 44px;
	display: flex;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .5);
}

.UserImg {
	margin: auto;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	overflow: hidden;
}

.UserImgContainerAngle {
	position: absolute;
	width: 7px;
	height: 7px;
	transform: rotateZ(45deg);
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

.UserImgContainerAngle1 {
	top: -2px;
	right: -2px;
	box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .5);
}

.UserImgContainerAngle2 {
	bottom: -2px;
	right: -2px;
	box-shadow: -3px 0 3px 1px rgba(0, 0, 0, .5);
}

.UserImgContainerAngle3 {
	bottom: -2px;
	left: -2px;
	box-shadow: 0 -3px 3px 1px rgba(0, 0, 0, .5);
}

.UserImgContainerAngle4 {
	top: -2px;
	left: -2px;
	box-shadow: 3px 0 3px 1px rgba(0, 0, 0, .5);
}


/*///////////////////////////////////////////////////////////////////////////*/

.UserNameContainer {
	position: absolute;
	left: 0px;
	top: 7px;
	width: 84%;
	height: 18px;
	padding: 2px 1px;
	font-size: .6em;
	text-align: left;
	line-height: 10px;
	transform: scaleY(1.2);
	background-color: black;
}

.UserNameContainerCoverL, .UserNameContainerCoverR {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 20%;
	background-color: black;
	z-index: -1;
}

.UserNameContainerCoverL {
	top: 0;
	left: -2px;
}

.UserNameContainerCoverR {
	top: 0;
	right: -2px;
}

.UserName {
	height: 14px;
	padding: 2px 2px 0px;
	box-shadow: 0 0 4px 0px rgba(220, 220, 220, .8);
	overflow-x: hidden;
}

.GameListOuterContainer {
	position: absolute;
	top: 31px;
	left: -3px;
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 50%;
}

.GameListInnerContainer {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 3px 0px rgba(255, 255, 255, 1);
}

.GameListIcon {
	width: 8px;
	height: 8px;
	background-image: url("../../img/list.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, .3);
}

.StatusSelectContainer {
	position: absolute;
	right: 20px;
	bottom: 22px;
	width: 67%;
	height: 18px;
	background-color: black;
	font-size: 1em;
}

.UserSectionStatusContainer {
	right: 0px;
	bottom: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: flex;
	box-shadow: 0 0 3px 1px rgba(0, 10, 0, .5);
}

.UserSectionStatusIndicator {
	width: 10px;
	height: 10px;
	margin: auto;
	background-color: #00D200;
	border-radius: 50%;
	box-shadow: inset 0 0 2px 1px rgba(0, 10, 0, .5);
}

.Bolt {
	position: absolute;
	width: 13px;
	height: 13px;
	background-image: url("../../img/bolt.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 50%;
	box-shadow: 0 0 1px 0px rgba(0, 0, 0, .6);
	z-index: 1;
}

.Bolt1 {
	left: -4px;
	bottom: 4px;
}