.goUpSection {
	position: absolute;
	left: -3px;
	bottom: -5px;
	width: 50px;
	height: 21px;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
}

.goUpSectionAngle, .goUpSectionSide {
	position: absolute;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
}

.goUpSectionAngle {
	width: 9px;
	height: 9px;
	transform: rotateZ(45deg);
}

.goUpSectionAngle1 {
	width: 18px;
	height: 18px;
	left: 7px;
	top: -9px;
}

.goUpSectionAngle2 {
	right: -5px;
	top: 1.5px;
}

.goUpSectionAngle3 {
	right: -5.5px;
	bottom: -3px;
}

.goUpSectionAngle4 {
	width: 10px;
	height: 10px;
	left: -3px;
	bottom: -3.5px;
}

.goUpSectionAngle5 {
	left: -4px;
	top: -10.5px;
}

.goUpSectionSide1 {
	left: 0;
	top: -12.5px;
	width: 15.5px;
	height: 9px;
}

.goUpSectionSide2 {
	right: -7px;
	top: 6px;
	width: 18px;
	height: 15px;
}

.goUpSectionSide3 {
	left: 5.5px;
	bottom: -5px;
	width: 45.5px;
	height: 6px;
}

.goUpSectionSide4 {
	left: -5.5px;
	top: -4px;
	width: 6px;
	height: 19px;
}

.goUpSectionCover {
	position: absolute;
	background-color: #909DA3;
}

.goUpSectionCover1 {
	left: -5.5px;
	top: -5.5px;
	width: 8px;
	height: 24.5px;
}

.goUpSectionCover2 {
	left: 1px;
	top: -12.5px;
	width: 15px;
	height: 29px;
}

.goUpSectionCover3 {
	left: 3px;
	bottom: -5px;
	width: 47.5px;
	height: 26px;
}

.goUpSectionCover4 {
	right: -7px;
	top: 6px;
	width: 45px;
	height: 12.5px;
}

.goUpSectionButton {
	position: absolute;
	right: 3px;
	top: 5px;
	width: 16px;
	height: 16px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
	border-radius: 50%;
}

.goUpSectionBolt1 {
	left: 2px;
	top: -9px;
}

.goUpSectionBolt2 {
	left: 2px;
	bottom: -1px;
}