.Footer {
	width: 100%;
	position: relative;
	z-index: 1;
}

.FooterContentContainer {
	position: absolute;
	width: 100%;
	height: 62px;
	padding-right: 126px;
	display: grid;
	grid-template-rows: 65% 35%;
	background-color: #0018C7;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, .8);
	transition-duration: .21s;
}

.FooterContentInternal {
	position: relative;
	width: 100%;
	height: 18px;
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.FooterContentLine {
	position: absolute;
	left: 0;
	top: 50%;
	width: 102%;
	height: 1px;
	background-color: #00D2FF;
	box-shadow: 0 0 2px 0 #00D2FF;
}

.FooterContentItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: .6em;
	border: 1px solid #00D2FF;
	background-color: #001ADC;
	border-radius: 2px;
	box-shadow: 0 0 2px 0px #00D2FF;
	z-index: 1;
}

.FooterContentItems:hover {
	box-shadow: 0 0 2px 1px #00D2FF;
}

.FooterContentItem2 {
	margin: 0 2%;
}

.FooterItemText {
	line-height: 11px;
	padding: 4px 2px 2px 3px;
	display: inline-flex;
	box-shadow: inset 0 0 2px 0 #00D2FF;
	transition-duration: .20s;
}

.FooterItemText:hover {
	box-shadow: inset 0 0 2px 1px #00D2FF;
}

.FooterMainTextContainer {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	transition-duration: .21s;
}

.FooterMainText {
	display: inline-flex;
	white-space: nowrap;
	transition-timing-function: linear;
	transition-duration: 5s;
}