.viewUserMenu {
	display: flex;
	position: absolute;
	right: -75px;
	top: 50%;
	width: 40px;
	height: 144px;
	padding: 16px 0;
	margin-top: -60px;
	background-color: #909DA3;
	justify-content: center;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, 1);
	transition-duration: .2s;
	z-index: 1;
}

.viewUserMenuArrowContainer {
	position: absolute;
	left: -26px;
	top: 50%;
	width: 18px;
	height: 32px;
	padding: 0 4px 0 4px;
	margin-top: -16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #909DA3;
	transform: rotateZ(180deg);
}

.viewUserArrows {
	width: 10px;
	height: 10px;
	background-image: url("../../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.viewUserMenuButtonContainer {
	width: 33px;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto auto auto;
	justify-items: center;
	align-items: center;
	z-index: 1;
}

.viewUserMenuButtonSendMessage {
	background-image: url("../../img/sendMessage.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.viewUserMenuButtonChat {
	background-image: url("../../img/chat.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.viewUserMenuButtonStats {
	background-image: url("../../img/userStats.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.viewUserMenuButtonAddFriend {
	background-image: url("../../img/addFriend.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.viewUserMenuButtonBlock {
	background-image: url("../../img/block.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


/*/////////////////////////////////////////////////////////////////////*/


.viewUserAngle, .viewUserSide {
	position: absolute;
	background-color: #909DA3;
	box-shadow: 0 0 4px 3px rgba(220, 0, 0, 1);
}

.viewUserAngle {
	transform: rotateZ(45deg);
}

.viewUserAngle1 {
	right: -6px;
	top: 2px;
	width: 10px;
	height: 10px;
}

.viewUserAngle2 {
	right: -6px;
	bottom: 2px;
	width: 10px;
	height: 10px;
}

.viewUserAngle3 {
	left: -6px;
	bottom: 3px;
	width: 12px;
	height: 12px;
}

.viewUserAngle4 {
	left: -24px;
	bottom: 44px;
	width: 29px;
	height: 29px;
}

.viewUserAngle5 {
	left: -24px;
	top: 44px;
	width: 29px;
	height: 29px;
}

.viewUserAngle6 {
	left: -6px;
	top: 3px;
	width: 12px;
	height: 12px;
}

.viewUserSide1 {
	left: -30px;
	top: 59px;
	width: 33px;
	height: 26px;
}

.viewUserSide2 {
	left: -8.5px;
	top: 9px;
	width: 9px;
	height: 122px;
}

.viewUserSide3 {
	top: 7px;
	right: -8px;
	width: 8px;
	height: 125px;
}

.viewUserCover {
	position: absolute;
	background-color: #909DA3;
	opacity: 1;
	
}

.viewUserCover1 {
	top: 59px;
	left: -30px;
	width: 40px;
	height: 26px;
}

.viewUserCover2 {
	top: 9px;
	left: -9px;
	width: 10px;
	height: 126px;
}

.viewUserCover3 {
	top: 0px;
	left: 0px;
	width: 40px;
	height: 144px;
}

.viewUserCover4 {
	top: 8px;
	right: -8px;
	width: 10px;
	height: 129px;
}

.viewUserBolt1 {
	left: -2px;
	top: 2px;
}

.viewUserBolt2 {
	right: -2px;
	top: 2px;
}

.viewUserBolt3 {
	right: -2px;
	bottom: 2px;
}

.viewUserBolt4 {
	left: -2px;
	bottom: 2px;
}