.resultRow {
    width: 210px;
    height: 45px;
    /* outline: 1px solid red; */

    svg {
        width: 100%;
        height: 100%;
        /* background-color: #909DA3; */
        /* box-shadow: 0 0 4px 3px rgba(200, 0, 0, .8); */
        /* outline: 1px solid rgba(255, 0, 0, .4); */
    }
}
