$main-bg: black;

$mech-border-stop-1: rgb(174, 187, 193);
$mech-border-stop-2: rgb(114, 127, 133);

$mech-fill-stop-1: rgb(154, 167, 173);
$mech-fill-stop-2: rgb(134, 147, 153);
$mech-glow: rgb(220, 0, 0);

$mech-indentation: 0 0 1px 1px rgba(0, 0, 0, .6);

$mech-icon: black;
$mech-text: pink;


$window-bg: #001ADC;
$highlight-color: #00D2FF;


$pulse-speed: 2.2s;